body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.chocolates {
    margin-top: 20px;
}

.chocolate {
    margin-right: 10px;
}

.selection {
    margin-top: 20px;
}

#selected-chocolates {
    list-style-type: none;
    padding: 0;
}

#total-price {
    font-weight: bold;
}

.image{
	width: 100%;
	height: 200%;
	background-size: 100px;

}